<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DYN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>\r[%d{HH:mm:ss}] [%level] [Training] %msg</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="training" level="INFO" additivity="false">
        <appender-ref ref="DYN"/>
    </logger>
</configuration>
